<!-- Floating Math Symbols (si tu veux les garder aussi ici) -->
<div class="math-symbol"></div>
<div class="math-symbol"></div>
<div class="math-symbol"></div>
<div class="math-symbol"></div>

<div class="students-container">

  <div class="header-section">
    <h1>Liste des etudiants</h1>
    <div class="teacher-info">
      <span class="grade-badge">Eleves</span>
      <span class="subject-badge">Gestion</span>
    </div>
  </div>

  <!-- Search & Add -->
  <div class="search-section">
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Rechercher par nom ou grade..." [(ngModel)]="searchText" />
    </div>
    <div class="filter-box">
      <button class="action-button view" (click)="showModal = true">+ Ajouter un etudiant</button>
    </div>
  </div>

  <!-- Modal Component -->
  <app-admin-add-students
    *ngIf="showModal"
    (ajouter)="addStudent($event)"
    (fermer)="showModal = false">
  </app-admin-add-students>

  <!-- Prof Grid -->
  <div class="students-grid">
    <div class="student-card" *ngFor="let student of students | filterStudent:searchText">
      <div class="student-header">
        <div class="student-avatar">
          <img src="assets/images/avatar.jpg" alt="Avatar" />
        </div>
        <div class="student-info">
          <h3>{{ student.name }} </h3>
        </div>
      </div>

      <div class="student-details">
        <div class="detail-item">
          <i class="fas fa-envelope"></i>
          <span>anniversaire : {{ student.birthDate }}</span>
        </div>
        <div class="detail-item">
          <i class="fas fa-envelope"></i>
          <span>Grade : {{ student.schoolGrade }}</span>
        </div>

      </div>
      <div class="student-actions">
        <button class="action-button view">
          <i class="fas fa-eye"></i>
          Voir le profil
        </button>
        <button class="action-button edit">
          <i class="fas fa-edit"></i>
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>
